* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

body {
    background-color: #333;
}

.bg {
    margin: 0 auto;
    max-width: 1920px;
    max-height: 1080px;
    /*height: 920px;*/
    display: flex;
    flex-direction: column;
}

.box {
    /*height: 91%;*/
    display: flex;
    opacity: 1;
    background: url('../img/car-3-2017-1920x1200.jpg') no-repeat 100%;
}

.search-box {
    margin-top: 10%;
    margin-left: 8%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.search-title {
    font-size: 60px;
    margin-top: -10px;
    font-family: "Microsoft YaHei UI";
    color: #ffffff;
}

.search {
    margin: 0px 0px 0px 20px;
    display: flex;
}

.search-text {
    width: 500px;
    height: 45px;
    border: 1px #4d9dd8 solid;
    border-radius: 5px;
    font-family: "Microsoft YaHei UI";
    font-size: 18px;
    padding: 5px 5px;
}

.search-btn {
    height: 55px;
    border: 1px #4d9dd8 solid;
    border-radius: 5px;
    background-color: #4d9dd8;
    color: #FFFFFF;
    padding: 0px 10px 0px 10px;
    font-size: 18px;
}

.search-btn:hover {
    cursor: pointer;
    background-color: #3e8ecd;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header ul {
    font-family: "Microsoft YaHei UI";
    font-size: 14px;
    color: #acacac;
    display: inline;
}


.header ul a {
    color: #acacac;
}

.header li {
    margin: 0 20px;
    display: inline;
}

.footer {
    /*height: 2%;*/
    display: flex;
    justify-content: flex-end;
}

.footer ul {
    margin: 14px;
    text-align: right;
    font-family: "Microsoft YaHei UI";
    font-size: 12px;
    color: #666;
}

.footer li {
    display: inline;
}

.footer a, .footer span {
    display: inline;
    margin: 0 10px;
}

/* 设置了浏览器高度大于等于min-height时 */
@media screen and (min-height: 0px) {
    .bg {
        height: 450px;
    }

    .header {
        height: 7%;
    }

    .footer {
        height: 2%;
    }

    .box {
        height: 91%;
    }

    .header ul {
        margin: 14px 0;
    }
}

@media screen and (min-height: 520px) {
    .bg {
        height: 500px;
    }

    .header {
        height: 7%;
    }

    .footer {
        height: 2%;
    }

    .box {
        height: 91%;
    }

    .header ul {
        margin: 14px 0;
    }
}

@media screen and (min-height: 540px) {
    .bg {
        height: 520px;
    }

    .header {
        height: 7%;
    }

    .footer {
        height: 2%;
    }

    .box {
        height: 91%;
    }

    .header ul {
        margin: 14px 0;
    }
}

@media screen and (min-height: 580px) {
    .bg {
        height: 560px;
    }

    .header {
        height: 7%;
    }

    .footer {
        height: 2%;
    }

    .box {
        height: 91%;
    }

    .header ul {
        margin: 14px 0;
    }
}

@media screen and (min-height: 600px) {
    .bg {
        height: 580px;
    }

    .header {
        height: 7%;
    }

    .footer {
        height: 2%;
    }

    .box {
        height: 91%;
    }

    .header ul {
        margin: 14px 0;
    }
}

@media screen and (min-height: 740px) {
    .bg {
        height: 720px;
    }

    .header {
        height: 7%;
    }

    .footer {
        height: 2%;
    }

    .box {
        height: 91%;
    }

    .header ul {
        margin: 14px 0;
    }
}

@media screen and (min-height: 800px) {
    .bg {
        height: 780px;
    }

    .header {
        height: 7%;
    }

    .footer {
        height: 2%;
    }

    .box {
        height: 91%;
    }

    .header ul {
        margin: 14px 0;
    }
}

@media screen and (min-height: 940px) {
    .bg {
        height: 920px;
    }

    .header {
        height: 5%;
    }

    .footer {
        height: 2%;
    }

    .box {
        height: 93%;
    }

    .header ul {
        margin: 14px 0;
    }
}

@media screen and (min-height: 970px) {
    .bg {
        height: 950px;
    }

    .header {
        height: 5%;
    }

    .footer {
        height: 2%;
    }

    .box {
        height: 93%;
    }

    .header ul {
        margin: 14px 0;
    }
}
